{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Movie Recommender</h1>
    <form method="GET">
        <input type="text" name="q" placeholder="Search for a movie..." required>
    </form>

    {% if movie_objects %}
        <h2>Results for "{{ query }}":</h2>
        <ul>
        {% for movie in movie_objects %}
            <div>
                <a href="{% url 'detailed_view' movie.movie_id %}">
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title}} poster" width="185" height="287">
                </a>
            </div>
        {% endfor %}
        </ul>
    {% elif query %}
        <p>No movies found matching "{{ query }}".</p>
    {% endif %}
</div>
{% endblock %}